<div class="col-md-10">
    <div class="text-center">
      <div class="content-container">
        <p class="content-text">
          Aqui cada criança é <b>valorizada</b> e <b>respeitada</b>.<br>
          Cada aluno possui capacidades únicas que merecem ser desenvolvidas em um espaço repleto de possibilidades, estimulando o exercício da descoberta e da autonomia por meio de práticas que são construídas e compartilhadas por todos, ganhando formas no relacionamento com os colegas, professores e com o ambiente em que interagem.
        </p>
      </div>
    </div>
  </div>
  